{% extends 'base.html' %}

{% block title %}
   Home Page
{% endblock %}

       {% block content %}
      <div class="container">
   Welcome to Home Sweet Home
       <br>
      Gyinyase Platform
       <br>
       <br>
       <br>
      We are here to help you
       <br>
       <h4>Find any Vehicle owner's
          contact number</h4>
       <br>
       <br>
      Are in a hurry to leave the premises but you find your car blocked
      by another car?
       <br>
       <br>
      In the event of any emergency, wee will help you to find the contact number
      of the owner of the car parked behind you
      </div>
       {% endblock %}

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   </body>
